body {
  background-color: #f5f7fa;
}

.card {
  border-radius: 1rem;
}

.toast {
  min-width: 200px; 
  font-size: 1rem;
  padding: 1rem 1.25rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  cursor: default;
  user-select: none;
  opacity: 0.95;
  transition: opacity 0.3s ease-in-out;
}
