.arcade-table {
  background-color: #1e1f29;
  border: 2px solid var(--arcade-secondary);
  box-shadow: 0 0 20px rgba(0, 224, 255, 0.1);
  font-family: 'Press Start 2P', cursive;
}

.arcade-table th,
.arcade-table td {
  color: var(--arcade-light-text);
  border-color: var(--arcade-secondary);
  padding: 1rem;
  vertical-align: middle;
}

.arcade-table th {
  color: var(--arcade-secondary);
  text-shadow: 0 0 5px var(--arcade-secondary);
}

.arcade-table tbody tr:nth-child(1) {
  background-color: #2a2b38;
  box-shadow: inset 0 0 10px var(--arcade-primary);
}

.first-place {
  background-color: rgba(255, 215, 0, 0.15); /* dourado claro */
  font-weight: bold;
  color: var(--arcade-primary);
  text-shadow: 0 0 6px var(--arcade-primary);
  font-size: 1.05rem;
}

