<div class="container mt-5">
  <div class="card p-4">
    <h2 class="arcade-title text-center mb-4">Ranking - Maiores Pontuações</h2>

    <div class="table-responsive">
      <table class="table table-dark table-bordered table-striped text-center arcade-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Player</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let score of scores; index as i">
            <td>{{ i + 1 }}</td>
            <td><a [routerLink]="['/player', score.playerId]">{{ score.playerName }}</a></td>
            <td>{{ score.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>